html{
    background-color: #84a59d;
    font-family: 'Nunito', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container {
    background-color: #f6bd60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 25rem;
    border-radius: 15px;
}
.screen{
    background-color: #35393c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.middle-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 3rem 3rem 0 0.8rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    margin: 0;
    padding: 0;
    flex: 1;
}

.element{
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    background-color: #e9d8a6;
    width: calc(100%/16);
    height: calc(100%/16);
    margin: 0;
}

/* buttons part */

.buttons{
    display: flex;
    flex-direction: column;
    /* background-color: coral; */
}

.buttons-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
    /* padding: 0 100%; */
    /* background-color:  cornflowerblue; */

}
.btns{
    display: flex;
    gap: 1rem;
}
.btn>div{
    background-color: #35393c;
    padding: 1.5rem;
    border-radius: 50%;
}
.btn>p{
    margin: 0;
    color: #99582a;
    font-size: 1.2rem;
    font-weight: 700;
}

.buttons-bottom{
    flex: 1;
}

/* style of litle details like the red led or the buttons of the gb */

.power-on{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-led{
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.power-on>p{
    color: white;
    font-size: 0.8rem;
}

.middle-bottom>p{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

p>span{
    font-weight: 900;
    font-style: italic;
}

p>span:nth-child(1){
    color:#e21366;   
}

p>span:nth-child(2) {
    color: #ada7ff;
}
p>span:nth-child(3) {
    color: #99c42d;
}
p>span:nth-child(4) {
    color: #e6921d;
}
p>span:nth-child(5) {
    color: #218380;
}
