html,
body {
    background-color: #84a59d;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.outer-container {
    background-color: #f6bd60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 15px;
    margin: auto 0;
}

.screen {
    background-color: #35393c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.middle-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 3rem 3rem 0 0.8rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    margin: 0;
    padding: 0;
    flex: 1;
}

.element {
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    background-color: #e9d8a6;
    width: calc(100%/16);
    height: calc(100%/16);
    margin: 0;
}

/* buttons part */

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns {
    display: flex;
    gap: 1rem;
    margin: 2rem;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn:nth-child(1) {
    margin: 2rem 0 0 0;
}

.btn>button{
   background-color: #35393c;
   border: none;
   color: white;
   padding: 2rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50%;
}



.btn>p,
.buttons-bottom>div>p {
    margin: 0;
    color: #99582a;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.cross {
    font-size: 15rem;
    color: #35393c;
    font-weight: bold;
    font-family: helvetica, arial;
    line-height: 1;
    margin: 0 0 0 1rem;
}

.buttons-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.clear-all,
.random-color {
    background-color: #35393c;
    padding: 0.5rem 2rem;
    border-radius: 40%;
}

/* style of litle details like the red led or the buttons of the gb */

.power-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-led {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.power-on>p {
    color: white;
    font-size: 0.8rem;
}

.middle-bottom>p {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

p>span {
    font-weight: 900;
    font-style: italic;
}

p>span:nth-child(1) {
    color: #e21366;
}

p>span:nth-child(2) {
    color: #ada7ff;
}

p>span:nth-child(3) {
    color: #99c42d;
}

p>span:nth-child(4) {
    color: #e6921d;
}

p>span:nth-child(5) {
    color: #218380;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #495552;
    font-size: 1.5rem;
    color: blanchedalmond;
}

footer>p {
    margin: 0.5rem;
}

footer>p>a {
    text-decoration: none;
    font-weight: 700;
    color: #ffcb79;
}